<div>
	<div class="container">
		{{#if articles}}
			<div class="row">
				{{#each articles}}
					<div class="col-12-xs col-6-s col-4-m col-3-l">
						<div class="elm-first" >
							{{#if urlToImage}}
								<img src={{urlToImage}} alt="Italian Trulli" style="width:100%;height:70%">
							{{else}}
								<img src="assets/images/news.jpeg" style="width:100%;height:70%;">
							{{/if}}
							<div style="height: 30%">
								<h4 style="height: 30%">{{title }} </h4>
								<div style="display: flex; justify-content: space-between;">
									<div ></div>
									<div ></div>
									<button name="more" onclick="openModal({{@index}})">See More</button>
								</div>
							</div>

						</div>
					</div>
					<div id={{@index}} class="modal" >
						<div class="modal-content">
							<span class="close">&times;</span>	
							<h2>{{title}}</h2>	
							<div class="left">
								{{#if urlToImage}}
									<img src={{urlToImage}} alt="Italian Trulli" style="width:100%;height:320px;"/>
								{{else}}
									<img src="assets/images/news.jpeg" style="width:100%;height:320px;">
								{{/if}}
								<p>Date Published: {{publishedAt}}</p>
							</div>		
							<div style="right">
								
								<h4>{{description}}</h4>
								<p>{{content}}</p>
								<p>{{source.name}}.</p>
								<a href={{url}} target="_blank">See More...</a>
							</div>

						</div>
					</div>
				{{/each}}
			</div>
		{{else}}
			<div class="row">
				<div class="loader"></div>
			</div>
		{{/if}}

	</div>
	<script>
		const openModal = async (index) => {
			var modal = document.getElementById(index);
			var btn = document.getElementsByName("more")[index]
			var span = document.getElementsByClassName("close")[index];
			modal.style.display = "block";
			span.onclick = function() {
				console.log(index)
				modal.style.display = "none";
			}
			window.onclick = function(event) {
				if (event.target == modal) {
					console.log(index)
					modal.style.display = "none";
				}
			}
		}		


	</script>
</div>